<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.css" rel="stylesheet" />
    <script src="~/Styles/jquery-ui.js"></script>
    <script src="~/Styles/jquery-2.2.3.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
