<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
<<<<<<< HEAD
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.css" rel="stylesheet" />
    <script src="~/Styles/jquery-ui.js"></script>
    <script src="~/Styles/jquery-2.2.3.min.js"></script>
=======
    <link href="~/styles/fontawesome-all.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" />
>>>>>>> 7ab9c97c8556845188adf0e52bd732c2946f69a9
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
