################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pharmacy System/.vs/Pharmacy System/v16/Server/sqlite3/storage.ide-shm
