
@{
    ViewBag.Title = "contacts";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}

<h2>contacts</h2>

<div class="row">
    <div class="x_panel">
        <div class="x_content">


            <div class="clearfix"></div>

            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Digital Strategist</i></h4>
                        <div class="left col-md-7 col-sm-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                        </div>
                        <div class="right col-md-5 col-sm-5 text-center">
                            <img src="images/img.jpg" alt="" class="img-circle img-fluid">
                        </div>
                    </div>
                    <div class=" profile-bottom text-center">
                        <div class=" col-sm-6 emphasis">
                            <p class="ratings">
                                <a>4.0</a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                        </div>
                        <div class=" col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-user"> </i> View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
@section Sidebar{

    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Customer_Dashboard", "Customer",new { id =Model.id}, null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Customer_Profile", "Customer",new { id =Model.id},null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a href="@Url.Action("Show_Medicine", "Customer",new { id =Model.id}, null)"><i class="fa fa-dashboard"></i> Show Medicine</a>
            </li>
            <li>
                <a href="@Url.Action("contacts", "Customer",new { id =Model.id}, null)"><i class="fa fa-user-md"></i> contacts</a>
            </li>


        </ul>
    </div>


}
