@model Pharmacy_System.Models.Customer
@{
    ViewBag.Title = "Show_Medicine";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}

<h2>Show_Medicine</h2>

@section Sidebar{

    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Customer_Dashboard", "Customer",new { id =Model.id}, null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Customer_Profile", "Customer",new { id =Model.id}, null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a href="@Url.Action("Show_Medicine", "Customer",new { id =Model.id}, null)"><i class="fa fa-dashboard"></i> Show Medicine</a>
            </li>
            <li>
                <a href="@Url.Action("contacts", "Customer", new { id =Model.id},null)"><i class="fa fa-user-md"></i> contacts</a>
            </li>


        </ul>
    </div>


}